[submodule "plugins/api_explorer"]
	path = plugins/api_explorer
	url = https://github.com/bob-integration/bobitools-plugin-api_explorer.git
[submodule "plugins/notes"]
	path = plugins/notes
	url = https://github.com/bob-integration/bobitools-plugin-notes.git
[submodule "plugins/switch_ports"]
	path = plugins/switch_ports
	url = https://github.com/bob-integration/bobitools-plugin-switch_ports.git
[submodule "plugins/ember_matrix_demo"]
	path = plugins/ember_matrix_demo
	url = https://github.com/bob-integration/bobitools-plugin-ember_matrix_demo.git
[submodule "services/emberplus"]
	path = services/emberplus
	url = https://github.com/bob-integration/bobitools-service-emberplus.git
[submodule "services/mail"]
	path = services/mail
	url = https://github.com/bob-integration/bobitools-service-mail.git
[submodule "plugins/nmos_grid"]
	path = plugins/nmos_grid
	url = https://github.com/bob-integration/bobitools-plugin-nmos_grid.git
[submodule "plugins/mcast_ipam"]
	path = plugins/mcast_ipam
	url = https://github.com/bob-integration/bobitools-plugin-mcast_ipam.git
[submodule "plugins/ember_reader"]
	path = plugins/ember_reader
	url = https://github.com/bob-integration/bobitools-plugin-ember_reader.git
[submodule "services/swp08"]
	path = services/swp08
	url = https://github.com/bob-integration/bobitools-service-swp08.git
[submodule "plugins/hyperdeck"]
	path = plugins/hyperdeck
	url = https://github.com/bob-integration/bobitools-plugin-hyperdeck.git
[submodule "plugins/ptz"]
	path = plugins/ptz
	url = https://github.com/bob-integration/bobitools-plugin-ptz.git
[submodule "plugins/nmos_parc"]
	path = plugins/nmos_parc
	url = https://github.com/bob-integration/bobitools-plugin-nmos_parc.git
[submodule "plugins/nmos_monitor"]
	path = plugins/nmos_monitor
	url = https://github.com/bob-integration/bobitools-plugin-nmos_monitor.git
[submodule "plugins/net_tests"]
	path = plugins/net_tests
	url = https://github.com/bob-integration/bobitools-plugin-net_tests.git
[submodule "plugins/mcast_nat"]
	path = plugins/mcast_nat
	url = https://github.com/bob-integration/bobitools-plugin-mcast_nat.git
[submodule "plugins/coffre"]
	path = plugins/coffre
	url = https://github.com/bob-integration/bobitools-plugin-coffre.git
[submodule "services/ntfy"]
	path = services/ntfy
	url = https://github.com/bob-integration/bobitools-service-ntfy.git
